SUPABASE_URL=https://mkgfckxiusdcnqhethdy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rZ2Zja3hpdXNkY25xaGV0aGR5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzAwNDgzMiwiZXhwIjoyMDg4NTgwODMyfQ.q_MUGYONWhid2P8xxmgFsY77rVyjXCdfAo9EQXO-jMI
GARAGE_UUID=981ddb30-5507-4128-8ece-3cfe1f32499e
PORT=5173
API_PORT=8787
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
